<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        header.hd{
            background-color:green;
            height: 80px;
            width: 100%;}
            
        footer.hd{
            background-color: cornsilk;
            height: 30px;
            width: 100%;
            color: blue;
            padding-bottom: 300px;
            margin-top: 300px;
            
        } 
                 
            </style>

</head>
<body bgcolor="grey">

   <center><h1>RWANDAN NATIONAL PARKS</h1></center> 

    <header class="hd"></header>

<center><h2>AKAGERA NATIONAL PARK</h2></center>
<center><h2> NYUNGWE NATION PARK</h2></center>
<center><h2>BIRUNGA NATION PARK</h2></center>
<footer class="hd"></footer>
</body>
</html