<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Animals in park</title>
	<style>

        header.hd{
			background-color:green;
            height: 80px;
            width: 100%;}
        footer.hd{
            background-color: cornsilk;
            height: 30px;
            width: 100%;
            color: blue;
            padding-bottom: 250px;
            margin-top: 300px;
            
        } 
                 
            </style>
</head>
<body bgcolor="grey">
	<center><h1>ANIMAL PHOTOS</h1></center>
	
	<header class="hd"></header>
	
	<center><div class="gallery">
		<div class="photos">
			<img src="statics/download (1).jpg" alt="Image" height="136" style=" height: 150px;"><br>
		
		</div></center>
   
		<center><div class="photos">
			<img src="statics/download (2).jpg" alt="Image" height="136" style=" height: 150px;">
		</div></center>
   
   <center><div class="photos">
	<img src="statics/download (3).jpg" alt="Image" height="136" style=" height: 150px;">
</div></center>
   
   <center><div class="photos">
	<img src="statics/download (4).jpg" alt="Image" height="136" style=" height: 150px;">
</div>
<div class="photos">
   <img src="statics/download.jpg" alt="Image" height="136" style=" height: 150px;">
</div></center>
<footer class="hd"></footer>

</body>
</html>