<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <style>

      header.hd{
          background-color:green;
          height: 80px;
          width: 100%;}
          
      footer.hd{
          background-color: cornsilk;
          height: 30px;
          width: 100%;
          color: blue;
          padding-bottom: 300px;
          margin-top: 300px;
          
      } 
               
          </style>
</head>
<body bgcolor="grey">

<H1>REQUIREMENT</H1>

   <header class="hd"></header>
   
   <center><h2>present a negative COVID-19 test result taken within 72 hours.</h2></center>
   <center><h2>Quick-drying hiking pants.</h2></center>
   <center><h2>Shortsleeve baselayer in Merino wool.</h2></center> 
   <center><h2>Hiking shorts.</h2></center>
   <center><h2>wool socks.</h2></center> 
   <center><h1>wool socks.</h2></center>  
   <center><h2>waterproof jacket with ventilation.</h2></center> 
   <center><h2>Down pullover or insulated fleece jacket depending on the temperature</h2> </center>

      <footer class="hd"></footer>

</body>
</html> 